<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right"><img src="assets/img/logo.png" class="logo" title="Logo" alt="Logo"></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a [routerLink]="['/home']" routerLinkActive="router-link-active">  <i class="large material-icons">home</i> Home</a></li>
        <li><a [routerLink]="['/quem-somos']" routerLinkActive="router-link-active"><i class="large material-icons">business</i> Quem somos</a></li>
        <li><a [routerLink]="['/contato']" routerLinkActive="router-link-active"><i class="large material-icons">contacts</i> Contato</a></li>
      </ul>
    </div>
  </nav>
