<div class="wrapper">
    <nav>
        <div class="nav-wrapper">
          <div class="col s12">
            <a href="home" class="breadcrumb">Home</a>
            <a href="quem-somos" class="breadcrumb">Quem Somos</a>
          </div>
        </div>
      </nav>
<h4>Quem Somos</h4>
<p> Localizada em Ribeirão Pires, na Grande São Paulo, a Brasmódulos está sediada numa área total de 30.800 m². 
Desde o ano de 1992 atuando no mercado, a Brasmódulos foi fundada a partir da experiência e do espírito empreendedor de seus sócios. 
Especializada na fabricação de módulos metálicos habitacionais, a empresa oferece soluções inovadoras para atender projetos 
alocados em canteiros de obras, 
alojamentos, armazenamentos de materiais da construção civil, da indústria automotiva e química, de eventos, entre outros. 
Oferecemos, também, a linha de produtos Grades e Gradis, proporcionando segurança e um design moderno ao ambiente.</p>

<p>Os projetos são flexíveis e elaborados de acordo com as necessidades de cada cliente, 
contando com tecnologias inovadoras e respeitando o meio ambiente, atendendo às normas ambientais, 
de segurança e qualidade. Os materiais utilizados na fabricação dos módulos são 100% recicláveis. 
Presente em todo o território nacional e na américa latina, 
a Brasmódulos atende qualquer tipo de projeto com agilidade, facilidade de montagem e deslocamento.</p>
</div>