<section>
    <div class="slider">
        <img src="assets/slider/banner-01.jpg" title="logo" alt="logo">
    </div>
    <div class="wrapper">
        <h4>Brasmódulos - Soluções em Módulos Habitacionais</h4>
        <p>Localizada em Ribeirão Pires, na Grande São Paulo, a Brasmódulos está sediada numa área total de 30.800 m². 
            Desde o ano de 1992 atuando no mercado, a Brasmódulos foi fundada a partir da experiência e do espírito empreendedor
             de seus sócios. Especializada na fabricação de módulos metálicos habitacionais, a empresa oferece soluções inovadoras
              para atender projetos alocados em canteiros de obras, alojamentos, 
            armazenamentos de materiais da construção civil, da indústria automotiva e química, de eventos, entre outros.</p>
            <a class="waves-effect waves-light btn">SAIBA MAIS SOBRE A BRASMÓDULOS</a>
    </div>
</section>
